Form.css .custom-form {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  margin: 0 auto;
  border: 2px solid #ffb81c;
  border-radius: 12px;
  padding: 80px; /* Increased padding for better aesthetics */
}

.form-title {
  font-size: 20px;
  font-weight: 600; /* Semibold */
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  font-size: 22px; /* Increased font size */
  font-weight: 600; /* Semibold */
  margin-bottom: 2px;
  display: block;
}

.form-input {
  padding: 8px; /* Adjusted padding */
  margin: 2px 0; /* Balanced margin on top and bottom */
  border: 4px solid #ffb81c;
  border-radius: 8px;
  outline: none;
  font-size: 18px; /* Increased font size */
  width: 90%;
  font-weight: 700;
}

.form-input:focus {
  border-color: #003b5c; /* Change the color as desired */
}

.form-button {
  padding: 10px;
  background-color: #ffb81c;
  color: #003b5c;
  outline: none;
  border: none; /* Removed border */
  border-radius: 10px;
  width: 30%;
  margin: auto;
  cursor: pointer;
  padding: 16px;
  margin-top: 10px;
  font-size: 0.45em;
  font-weight: 600;
}
