@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  overflow-y: scroll;
}

@layer utilities {
  .font-condensed {
    font-stretch: condensed;
  }
}
